@model IEnumerable<DicomViewer.Models.DicomListViewSimpleModel>

<h2>Lista plików DICOM na serwerze:</h2>
<table class="table left-menu-table">
    <tr>
        <th>
            Nazwa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var name = (item.Name.Length < 16) ? item.Name : item.Name.Substring(0, 16) + "...";
                }
                <span class="img-name" id="@item.Name">@name</span>
         
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", "Dicom",  new { id = item.Name }, null)
            </td>
        </tr>
    }

</table>
