@model IEnumerable<DicomViewer.Models.DicomListViewSimpleModel>

<h2>Lista plików DICOM na serwerze:</h2>

<p>
    @*    @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var name = (item.Name.Length < 16) ? item.Name : item.Name.Substring(0, 16) + "...";
                }
                @Html.ActionLink(name, "Image", "Dicom", new {id = item.Name}, null)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", "Dicom",  new { id = item.Name }, null)
            </td>
        </tr>
    }

</table>
