
<div class="zoom-change-area">
    <button type="button" class="btn btn-default glyphicon glyphicon-plus
glyphicon zoom-change zoom-in"></button>
    <button type="button" class="btn btn-default glyphicon glyphicon-minus
glyphicon zoom-change zoom-out"></button>
    <button type="button" class="btn btn-default glyphicon glyphicon-arrow-up up"></button>
    <button type="button" class="btn btn-default glyphicon glyphicon-arrow-down down"></button>
    <button type="button" class="btn btn-default glyphicon glyphicon-arrow-left left"></button>
    <button type="button" class="btn btn-default glyphicon glyphicon-arrow-right right"></button>
</div>