@model DicomViewer.Models.DicomImageBindModel

@{
    ViewBag.Title = "bind";
}

<div>
<canvas id="canvas"></canvas>
</div>
<div class="zoom-change-area">
    <input type="button" class="zoom-change zoom-in" value="ZoomIn">
    <input type="button" class="zoom-change zoom-out" value="ZoomOut">
    <input type="button" class="up" value="Up">
    <input type="button" class="down" value="Down">
    <input type="button" class="left" value="Left">
    <input type="button" class="right" value="Right">
</div>

<ul class="miniature-menu"></ul>