@model DicomViewer.Models.DicomImageBindModel

@{
    ViewBag.Title = "bind";
}

<div>
<canvas id="canvas"></canvas>
</div>
<div class="zoom-change-area">
    <input type="button" class="zoom-change zoom-in" value="ZoomIn">
    <input type="button" class="zoom-change zoom-out" value="ZoomOut">
</div>