@model DicomViewer.Models.DicomImageBindModel

@{
    ViewBag.Title = "bind";
}

<div class="canvas-container canvas-left hidden">
    @Html.Partial("_ActionMenu")
    <canvas id="canvas"></canvas>
</div>
<div class="canvas-container canvas-right hidden">
    @Html.Partial("_ActionMenu")
    <canvas width="0" height="0" id="canvas-right"></canvas>
</div>


<ul class="miniature-menu"></ul>

@Html.Partial("_Modal")