@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eskulap DICOM Viewer</h1>
    <p class="lead">Twoja internetowa przeglądarka plików medycznych DICOM!</p>
    <p>
        @Html.ActionLink("Lista plików", "Index", "Dicom", "",
              new { @class = "btn btn-primary btn-lg" })
</p>
</div>

