@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Eskulap DICOM Viewer</h1>
    <p class="lead">Twoja internetowa przeglądarka plików medycznych DICOM!</p>
    <p>
    </p>
</div>



