body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

canvas {
    position: relative;
}

span.img-name {
    cursor: pointer;
}

.zoom-change-area {
    position: absolute;
    top: 0;
}

.miniature-menu {
    bottom: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

.miniature-menu li {
    display: inline-block;
    
}

.miniature-menu li img {
    cursor: pointer;
    top: 0;
    height: 50px;
    margin-left: 10px;
     -webkit-transition: height 2s, width 1s; 
    transition: height 2s, width 1s;
    
}
#option-modal .modal-body .group {
    width: 50%;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
#option-modal .modal-body .photo {
    display: inline-block;
}